html{
    scroll-behavior: smooth;
}

body{

    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
    font-family: "Montserrat", Sans-serif;

}

#header{
    width: 100%;
    height: 300px;
    background-image: url(portada_2.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 50%;
    position: relative;
}

#logoTec{
    width: 200px;
    margin-top: 20px;
    margin-left: 20px;
}

#estadosEventos{
    bottom: 0px;
    margin-left: 20px;
    margin-bottom: 20px;
    position: absolute;
    width: fit-content;
}

.estadoEvento{
    width: fit-content;
}

.colorEstado{
    width: 18px;
}

.txtEstado{
    display: inline;
    color: #FFFFFF;
}

#informacionHeader{
    position: relative;
    margin-top: -55px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

#tituloHeader{
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    color: #FFFFFF;
}

#subtituloHeader{
    margin-top: -50px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #FFFFFF;
}

#barraBusqueda{
    margin-top: -20px;
    width: 400px;
    height: 50px;
    border-radius: 30px;
    background-color: #FFFFFF;
}

#imgLupa{
    cursor: pointer;
    margin-left: 10px;
    margin-top: 12px;
    width: 30px;
}

#inputBusqueda{
    position: absolute;
    font-size: 18px;
    height: 43px;
    margin-left: 3px;
    margin-top: 3px;
    width: 84%;
    border: none;
}

#login{
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 0px;
    margin-top: 15px;
    margin-right: 18px;
    width: 52px;
    height: 52px;
    border-radius: 30px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 7px 2px #FFFFFF;
}

#login:hover{
    box-shadow: 0px 0px 7px 2px #1beb00;
}

#imgLogin{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30px;
}

#txtLogin{
    text-align: center;
    font-size: 15px;
    margin-top: -5px;
}

#eventos{
    width: 100%;
}

#filtros{
    float: left;
    padding-top: 15px;
    width: 25%;
    height: 1030px;
}

#headerFiltros{
    width: 90%;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
    text-align: center;
    background-color: #212121;
}

#imgFiltro{
    margin-top: 5px;
    display: inline;
}

#txtHeaderFiltros{
    color: #FFFFFF;
    display: inline;
}

#opcionesFiltros{
    margin-top: 10px;
    width: 90%;
    height: 91%;
    padding-top: 5px;
    padding-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    text-align: center;
    background-color: #212121;
}

.opcionFiltro{
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
    border-radius: 15px;
    width: 92%;
}

.filtro{
    cursor: pointer;
    position: relative;
    height: 40px;
    width: 100%;
    margin-top: 10px;
    border-radius: 15px;
}

.txtFiltro{
    position: absolute;
    margin-top: 11px;
    left: 10px;
    display: inline;
}

.flechaFiltro{
    position: absolute;
    right: 10px;
    margin-top: 15px;
    display: inline;
}

input[type = checkbox]{
    display: none;
}

input[type = checkbox]:checked ~ .valorFiltro{
    display: block;
}

.valorFiltro{
    display: none;
    position: relative;
    margin-top: -12px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
}

.valorFiltro input{
    width: 81.5%;
    height: 28px;
    text-align: center;
    border-radius: 20px;
    border: solid 3px #000000;
    background-color: #C4C4C4;
    font-size: 16px;
    font-weight: bold;
    font-family: "Montserrat", Sans-serif;
}

.valorFiltro select{
    width: 85%;
    height: 35px;
    text-align: center;
    border-radius: 20px;
    border: solid 3px #000000;
    background-color: #C4C4C4;
    font-size: 16px;
    font-weight: bold;
    font-family: "Montserrat", Sans-serif;
}

.valorFiltro select option{
    box-shadow: 0px 0px 7px 2px #FFFFFF;
}

/* Tarjetas */

#tarjetas{
    float: left;
    padding-top: 20px;
    padding-bottom: 15px;
    width: 75%;
    margin-top: -1045px;
    margin-left: 25%;
    display: flex;
    flex-wrap: wrap;
}

.tarjeta{
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    width: 21%;
    height: 290px;
    margin-bottom: 20px;
}

.imagenTarjeta{
    border-radius: 15px;
    width: 100%;
    height: 73%;
    display: flex;
    align-items: center;
    border: 2px solid #C4C4C4;
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    background-image: url(imagenTarjeta.png);
}

.btnImagenTarjeta{
    margin-left: auto;
    margin-right: auto;
    opacity: .8;
    color: #FFFFFF;
    padding-left: 10px;
    padding-top: 15px;
    padding-right: 10px;
    padding-bottom: 15px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-family: "Montserrat", Sans-serif;
    background-color: #212121;
}

.btnImagenTarjeta:hover{
    background-color: #eb0076;
}

.footerTarjeta{
    position: relative;
    border-radius: 15px;
    margin-top: 4px;
    width: 100%;
    height: 24%;
}

.fechaTarjeta{
    position: absolute;
    width: 33%;
    height: 100%;
    text-align: center;
    border-radius: 15px;
    border: 2px solid #C4C4C4;
    background-color: #FFFFFF;
}

.informacionFecha{
    margin-top: 0px;
}

.informacionTarjeta{
    margin-left: 36.5%;
    position: relative;
    width: 63%;
    height: 100%;
    border-radius: 15px;
    border: 2px solid #C4C4C4;
    background-color: #FFFFFF;
}

.informacionGeneral{
    position: absolute;
    margin-left: 7px;
}

.statusEvento{
    top: 1px;
    right: -2px;
    position: absolute;
    height: 99%;
    border-radius: 20px;
    width: 13%;
}

/* Fin */

.numeracionPagina{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flechaNumeracion{
    margin-left: 5px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-color: #FFFFFF;
}

.numeroPagina{
    margin-left: 5px;
    cursor: pointer;
    width: 30px;
    height: 25px;
    padding-top: 5px;
    border-radius: 20px;
    text-align: center;
    border: solid 2px #000000;
    background-color: #FFFFFF;
}

.numeroPagina:hover{
    background-color: #000000;
    color: #FFFFFF;
}

#footer{
    float: left;
    background-color: #212121;
    width: 100%;
    height: 200px;
}

#subir{
    cursor: pointer;
    position: relative;
    width: 10%;
    height: 100%;
}

#opcionSubir{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: fit-content;
}

#imgSubir{
    width: 50px;
}

#txtSubir{
    margin-top: 5px;
    color: #FFFFFF;
    text-align: center;
}

#leyendaFooter{
    position: relative;
    width: 75%;
    height: 100%;
    margin-top: -200px;
    margin-left: 10%;
}

#txtFooter{
    width: fit-content;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: 5px;
    font-size: 40px;
    color: #FFFFFF;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#informacionFooter{
    position: relative;
    width: 15%;
    height: 100%;
    margin-top: -200px;
    margin-left: 85%;
}

#opcionesFooter{
    position: absolute;
    text-align: center;
    left: 49%;
    top: 50%;
    width: 100%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-left: solid 2px #FFFFFF;
}

.txtFooter{
    color: #FFFFFF;
}

.imgRedSocial{
    cursor: pointer;
    margin-left: 5px;
}